<div class="navbar navbar">
	<div class="container">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
		<a class="navbar-brand" href="#" style='font-size:25px;'>Lifr</a>
		<div class="nav-collapse collapse bs-navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="<%= @indexactive %>"><a href="<%= root_url %>">Home</a></li>
				<li class="<%= @aboutactive %>"><a href="<%= about_url %>">About</a></li>
				<li class="<%= @contactactive %>"><a href="<%= contact_url %>">Contact</a></li>
			</ul>
		</div>
	</div>
</div>