<div class="col-12 col-lg-4 pull-right">
	<div class="panel panel-primary" style="height:100%;">

		<% unless @hero.blank? %>
			<div class="panel-heading text-center">
				<h1 class="panel-title">Your Stats</h1>
			</div>
			<p>
				<div class="text-center">
					<strong>Hero Name</strong>
					<button type="button" class="btn btn-default" disabled="disabled" style="width:100%"><%= @hero.name %></button>
				</div>

				<div class="row">
					<div class="text-center">
						<div class="col-lg-6">
							<strong>Class</strong>
							<button type="button" class="btn btn-default" disabled="disabled" style="width:100%"><%= @hero.class_type %></button>
						</div>
						<div class="col-lg-6">
							<strong>Level</strong>
							<button type="button" class="btn btn-default" disabled="disabled" style="width:100%"><%= @hero.level.to_s %></button>
						</div>
					</div>
				</div>

				<br/>

				<strong>HP: <%= @hero.health_current.to_s + '/' + @hero.health_max.to_s %></strong>
				<div class="progress">
					<div class="progress-bar progress-bar-danger" style="width: <%= @hero.health_current.to_s + '%' %>"></div>
				</div>		

				<strong>Exp to Next Level: <%= @hero.exp_current.to_s + '/' + @hero.exp_to_next_level.to_s %></strong>
				<div class="progress">
					<div class="progress-bar progress-bar-success" style="width: <%= @hero.exp_current.to_s + '%' %>"></div>
				</div>

				<div class="btn-group-vertical sidebar-btn-group">
					<a type="button" class="btn btn-default">Travel</a>
					<a type="button" class="btn btn-default">Shop</a>
					<a href="<%= logout_url %>" type="button" class="btn btn-default">Logout</a>
				</div>
			</p>
		<% else %>
			<div class="panel-heading text-center">
				<h1 class="panel-title">No Hero</h1>
			</div>
			<p class='text-center'>
				<a href="<%= hero_new_url %>" type="button" class="btn btn-warning" style="width:100%;">Add New Hero</a>
			</p>
		<% end %>
	</div>
</div>