<!DOCTYPE html>
<html>

	<!-- HEAD -->
	<head>
	  <title>LifrTest</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>

	<!-- BODY -->
	<body>

		<!-- NAV BAR -->
		<%= render 'layouts/navbar' %>

		<!-- CONTENT -->
		<%= yield %>

	</body>

</html>
